*
!task1
!task1/Makefile
!task1/solution1.txt
!task1/test.py
!task1/main.c
!task1/README.md
!task2
!task2/Makefile
!task2/solution2.txt
!task2/test.py
!task2/main.c
!task2/README.md
!Makefile
!task3
!task3/Makefile
!task3/test.py
!task3/solution3.py
!task3/main.c
!task3/README.md
!tutorial
!tutorial/pwd.txt
!tutorial/Makefile
!tutorial/main.c
!.gitignore
!task5
!task5/solution5.py
!task5/Makefile
!task5/test.py
!task5/main.c
!task5/README.md
!README.md
!task4
!task4/Makefile
!task4/solution4.py
!task4/test.py
!task4/main.c
!task4/README.md
!task4/shell.asm
